/*By default, MEts are displayed, and Knicks are hidden*/
#mets{
    background-color: orange;
    display: block;
}

#knicks{
    background-color:blue;
    display: none;
}


/*On big screens, Mets are hidden, and Knicks are displayed*/
@media (min-width: 768px){
    #mets{
        display: none;
    }
    #knicks{
        display: block;
    }
}
